body{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.content-container {
    width: 750px;
    height: 750px;
    background-color: #eee;
    overflow-y: scroll;
    padding: 20px;
}

.loading-container {
    width: 750px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container {
    display: inline-block;
    width: 45%;
    height: 100px;
    background-color: #333;
    color: #fff;
    padding: 45px;
    box-sizing: border-box;
    margin: 5px;
}